@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root{
    --blue:#1E2F97;
    --skyblue:#8FC1E3;
    --normalblue:#1AA7EC;
    --purple:#7738a0;
    --black:var(--black)
 
 }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    padding: .5rem;
    /* background-color: #cccccc; */
    width: 100%;
    height: 8%;
}
.header > h1{
    height: 5rem;
    width: 10rem;
    text-align: center;
    padding: 10px;
    font-size: 50px;

}
.header > .searchbox{
    margin-left: 0rem;
    margin-top: .5rem;
    width: 50rem;
    height: 4rem;
    border: none;
    outline: none;
    padding: 1.5rem;
    font-size: 20px;
    background-color: var(--skyblue);
    border-radius: 50px 0px 0px 50px;
    padding-left: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.header > .searchbox:active{
    outline:1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.header > button{
    font-family: 'Roboto', sans-serif;
    width: 5rem;
    margin-top: .5rem;
    margin-right: .5rem;
    height: 4rem;
    font-size: 1rem;
    background-color:var(--skyblue) ;
    color: #526f83;
    border-radius: 0px 50px 50px 0px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.header > a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.header > .login{
    font-family: 'Roboto', sans-serif;
    width: 15rem;
    height: 4rem;
    margin-top: .5rem;
    margin-left : 8rem;
    font-size: 1.5rem;
    background-color:#82b0cf ;
    color: #526f83;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition:0.6s;
}
.header > .login:hover{
    color: black;
}
.exploreSpace{
    padding : .5rem ;
    font-size: 1.5rem;
    margin: 0.1rem;
    margin-bottom: 5rem;
    text-align: center;

}
.exploreSpace > a{
    padding-bottom: 0.5rem;
    margin: 1rem;
    text-decoration: none;
    color: var(--black);
}
.exploreSpace > a:hover{
    border-bottom:.2rem solid var(--blue) ;
}
.main{
    margin-top: 5rem;
}
.main > h1{
    width: auto;
    height: 18rem;
    text-align: center;
    padding-top:3rem;
    font-size: 8rem;
    font-weight: 600;
}
.main > h2{
    width: auto;
    margin-top: -7rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}
.main > button{
    width: 15rem;
    height: 5rem;
    /* margin-left: 50rem; */
    margin-top: 1rem;
    border-radius: 50px;
    border: none;
    font-size: 1.5rem;
    background-color: #8FC1E3;
    cursor: pointer;
}
.footer > h1{
    text-align: center;
    margin-top: 1rem;
    font-size: 7rem;
    color: #5B5B5B;
}
.footer > h2{
    text-align: center;
    font-size: 7rem;
    color: #5b5b5bb3;
}
.footer > h3{
    text-align: center;
    font-size: 7rem;
    color: #5b5b5b8b;
    padding-bottom: 2rem;
}
.badgespace > img:first-child{
    transform: scale(3,3);
    margin-left: 9rem;

}
.badgespace > img:nth-child(2){
    transform: scale(2,2);
    margin-left: 20rem;

}
.badgespace > img:nth-child(3){
    transform: scale(3.5,3.5);
    margin-left: 20rem;
    margin-top: .5rem;

}
.badgespace > img:nth-child(4){
    transform: scale(2,2);
    margin-left: 20rem;
    margin-top: .5rem;

}
.badgespace{
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: #acacac;
}

